# Variables set in here are picked up by docker-compose automatically

# Service ports on host
#TOMCAT_PORT=8081
#NODEJS_PORT=3000
#JAVADEBUG_PORT=5005
#KEYCLOAK_PORT=8080

# Linux developers should uncomment this line:
#DOCKER_GATEWAY_HOST=172.17.0.1

# SERVICE_PROTOCOL is the protocol used to access the service from the client:
# "http" or "https"
#SERVICE_PROTOCOL=http

# SERVICE_PORT is the port used by the client to access the service.  If the
# client is accessing the embedded reverse proxy directly then this should be
# the same as the PROXY_EXTERNAL_PORT. If the client is going via another
# reverse proxy then this should be the port that proxy listens on (e.g. 443).
#SERVICE_PORT=8089

# PROXY_EXTERNAL_PORT is the port that the reverse proxy is going to listen on.
# If there are multiple deployments on the same machine then they all need
# different PROXY_EXTERNAL_PORT settings.
#PROXY_EXTERNAL_PORT=8089

# Location of the Spyderisk System Modeller documentation to be used in the web application:
#DOCUMENTATION_URL=https://spyderisk.org/documentation/modeller/latest/

# Secret shared for communication between Spyderisk and Keycloak services
# The docker-compose.yaml file demonstrates how to insert the value into the Keycloak configuration
#KEYCLOAK_CREDENTIALS_SECRET=DfkQBcVpjbO6gTMXMBUBfHe45UmFhGxk

# Keycloak admin account credentials
#KEYCLOAK_ADMIN_USERNAME=admin
#KEYCLOAK_ADMIN_PASSWORD=password

# Spring boot application property reset.on.start, default value is true
#RESET_ON_START=false

