**/.nb-gradle/
**/.gradle/
**/.idea/
**/.vagrant/
**/.eslintcache
**/.cache/
**/logs/
/bin/
/build
**/custom-config/
**/out/
/lib/*/

node_modules/
src/main/resources/static/js/dist/
src/main/resources/static/dist/
src/main/webapp/dist/
src/main/webapp/app/dist/*.css
/src/main/webapp/audit.txt
/src/main/webapp/licenses.txt
/src/main/webapp/outdated_packages.txt

*.bak
*.retry
*.zip
*.iml

scripts/*.png
scripts/*.war

.nb-gradle-properties
gradle-app.setting
classes/
jena-tdb/
*console.log

\.project
\.vscode/
\.classpath
\.settings/
\.env.secrets
