@import '../../../common/styles/vars';

.minimum-dash{
  margin-top: 5px;
  min-width: 970px;
  width: 90%;
}

.models-title{
  margin: 0;
  margin-bottom: 20px;
}

.dashboard-sort{
  display: flex;
  justify-content: flex-end;
}

.dashboard.content {
  padding: 20px 40px;
  box-sizing: border-box;
  height: 100%;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  .dashboard-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 1070px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: inherit;
    padding-right: inherit;
  }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 15px;
}

.col-md-1 {
  width: 10%;
}

.owner.col-md-1 {
  width: 6%;
}

.col-md-2 {
  width: 15%;
}

version.col-md-2 {
  width: 12%;
}

.button-toolbar.col-md-2 {
  width: 20%;
}

.col-md-3 {
  width: 20%;
}

i.warning {
  color: $DANGER_COLOUR;
}

body {
  overflow: auto;
}
