<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
    <head> </head>
    <body>
        <div th:fragment="nav">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="branding">
                            <h3>
                                SPYDE<b>RISK</b>
                            </h3>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>
