.recent-min{
  display: flex;
  align-items: flex-end;
}

.recent-list-title{
  margin-top: 10px;
  margin-bottom: 20px;
}

.cards{
  display: flex;
  align-items: stretch;
}

.row-list{
  margin-bottom: 20px !important;
}
