$DARK_BLUE: #337ab7;
$BLUE: #3c91cb;
$LIGHT_BLUE: #DCF1FF;
$BRIGHT_BLUE: #24dff9;
$GREEN: #00b830;
$LIGHT_GREEN: #a1e499;
$BRIGHT_GREEN: #3af63f;
$YELLOW_GREEN: #9acd32;
$YELLOW: #e6ac00;
$LIGHT_YELLOW: #ffe490;
$ORANGE: #ff6f00;
$RED: #bf0500;
$LIGHT_RED: #ff6154;
$BRIGHT_RED: #ff0c27;
$PURPLE: #b100ff;
$BLACK: #000000;
$WHITE: #ffffff;

$BACKGROUND_COLOUR: #ffffff;
$PANEL_BACKGROUND_COLOUR: #ededed;
$BOX_SHADOW_COLOUR: #131313;
$LIGHTER_BOX_SHADOW_COLOUR: rgba(0, 0, 0, 0.3);
$BLUE_BOX_SHADOW_COLOUR: rgba($BLUE, 0.3);
$GROUP_BORDER_COLOUR: $BLUE;

$BUTTON_PRIMARY: $DARK_BLUE;
$BUTTON_PRIMARY_TEXT: $WHITE;

//SIGNALS
$SUCCESS_COLOUR: $GREEN;
$WARNING_COLOUR: $YELLOW;
$DANGER_COLOUR: $RED;

// the :export directive is the magic sauce for webpack
:export {
  LIGHT_YELLOW: $LIGHT_YELLOW;
  BOX_SHADOW_COLOUR: $BOX_SHADOW_COLOUR;
  BRIGHT_RED: $BRIGHT_RED;
  BRIGHT_GREEN: $BRIGHT_GREEN;
  YELLOW_GREEN: $YELLOW_GREEN;
  SUCCESS_COLOUR: $SUCCESS_COLOUR;
  WARNING_COLOUR: $WARNING_COLOUR;
  DANGER_COLOUR: $DANGER_COLOUR;
}